{{set . "title" "Edit Game"}} {{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

<h1>Edit {{.game.Title}}</h1>
<form action="/game/{{.game.ID}}/edit" method="POST">
    <div class="form-field">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{.game.Title}}" />
    </div>
    <div class="form-field">
        <label for="year">Year:</label>
        {{if .game.Year}}
            <input type="number" name="year" id="year" value="{{.game.Year}}" />
        {{else}}
            <input type="number" name="year" id="year" placeholder="eg. 2012">
        {{end}}
    </div>

    <div class="form-field">
        <label for="bggID">BoardGameGeek ID:</label>
        {{if .game.BggID}}
            <input type="number" name="bggID" id="bggID" value="{{.game.BggID}}" />
        {{else}}
            <input type="number" name="bggID" id="bggID" placeholder="eg. 205896" />
        {{end}}
    </div>

    <div class="form-field">
        <label for="imgURL">Image URL:</label>
        {{if .game.ImgURL}}
            <input type="url" name="imgURL" id="imgURL" value="{{.game.ImgURL}}" />
        {{else}}
            <input type="url" name="imgURL" id="imgURL" placeholder="https://cf.geekdo-images.com/itemrep/img/3rBAt0OIjgvwRpm24Z7gLuMpu7c=/fit-in/246x300/pic4459753.jpg" />
        {{end}}
    </div>

    <div class="form-field">
        <label for="complexityRating">Complexity Rating:</label>
        {{if .game.ComplexityRating}}
            <input type="number" min="0" max="5" step="0.01" name="complexityRating" id="complexityRating" value="{{.game.ComplexityRating}}" />
        {{else}}
            <input type="number" min="0" max="5" step="0.01" name="complexityRating" id="complexityRating" value="1.00" />
        {{end}}
    </div>

    <input type="submit" value="Update Game" />
</form>

{{template "footer.html" .}}
