{{set . "title" .game.Title }} {{template "header.html" .}}

<h1>{{ .game.Title}}</h1>
{{if .game.Year}}
    <h3>{{ .game.Year }}</h3>
{{end}}

{{if .game.ImgURL}}
    <img src="{{.game.ImgURL}}" alt="{{.game.Title}}">
{{end}}

{{if .game.BggID}}
    <h3>BoardGameGeek ID: {{ .game.BggID }}</h3>
{{end}}

{{if .game.ComplexityRating}}
    <h3>Complexity Rating: {{ .game.ComplexityRating }}</h3>
{{end}}

<button onclick="window.location.href = '/game/{{.game.ID}}/edit'">Edit</button>

<form
    method="POST"
    action="/game/{{ .game.ID }}/delete"
    onsubmit="return confirm('Are you sure you want to delete this game?');"
>
    <button>Delete</button>
</form>

<button onclick="window.location.href = '/game/{{.game.ID}}/match/new'">Add a match</button>

{{if len .groupChoices}}
    {{$choices := .groupChoices}}
    <form action="/game/{{.game.ID}}/addToGroup" method="post">
        {{with $field := field "groupID" .}}
            <select name="{{$field.Name}}">
                <option>Select one...</option>
                {{range $choices}}
                    {{option $field .ID .Name}}
                {{end}}
            </select>
        {{end}}
        <button type="submit">Add to group</button>
    </form>
{{end}}



{{if (len .matches) ne 0}}
    <h2>Games of {{.game.Title}}</h2>
    Played:
    <ul>
        {{range .matches}}
            <li><a href="/match/{{.ID}}">{{timeagoinwords .DatePlayed}}</a></li>
        {{end}}
    </ul>
{{end}}

{{template "footer.html" .}}
