{{set . "title" "New Match"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<h1>Add a game of {{.game.Title}}</h1>
<form action="/game/{{.game.ID}}/{{.groupid}}/match/create" method="POST">
  {{with $field := field "datePlayed" .}}
    <div class="form-field">
        <label for="datePlayed">Date Played:</label>
        <input type="date" name="datePlayed" id="datePlayed" value="{{$field.Flash}}" />
    </div>
  {{end}}

    <input type="submit" value="Add Match">

</form>

{{template "footer.html" .}}
