{{set . "title" "View Match" }} {{template "header.html" .}}

<button onclick="window.location.href = '/game/{{ .match.GameID }}'">Back to game</button>

<h2>Played {{timeagoinwords .match.DatePlayed}}</h2>

{{ $gameid := .match.GameID }}
{{ $matchid := .match.ID }}

<ul>
    {{range .scores}}
        <li>{{.PlayerDisplayName}} {{if .IsWinner}} 👑 {{end}}- {{displayfloat .FinalScore}} (from {{.BaseScore}}) <form action="/game/{{$gameid}}/match/{{$matchid}}/removeScore" method="POST"><input type="hidden" name="id" value="{{.ID}}"><input type="submit" value="Delete"></form></li>
    {{end}}
</ul>


<h2>Add someones score</h2>

<div class="container">
    <div class="row">
      <div class="span6">
        {{template "flash.html" .}}
      </div>
    </div>
  </div>

<form action="/game/{{.match.GameID}}/match/{{.match.ID}}/addScore" method="POST">
    {{with $field := field "playerUserName" .}}
        <div class="form-field">
            <label for="playerUserName">Players User Name:</label>
            <input type="text" name="playerUserName" id="playerUserName" value="{{$field.Flash}}" autofocus />
        </div>
    {{end}}

    {{with $field := field "baseScore" .}}
        <div class="form-field">
            <label for="baseScore">Base Score:</label>
            <input type="number" name="baseScore" id="baseScore" value="{{$field.Flash}}" />
        </div>
    {{end}}

    {{with $checkboxField := field "isWinner" .}}
        <div class="form-field">
            <label for="isWinner">Winner? </label>
            {{checkbox $checkboxField "true"}}
        </div>
    {{end}}


    <input type="submit" value="Add Score">
</form>

<hr />

<form
    method="POST"
    action="/match/{{ .match.ID }}/delete"
    onsubmit="return confirm('Are you sure you want to delete this match?');"
>
    <button>Delete</button>
</form>

{{template "footer.html" .}}
