{{set . "title" .game.Title }} {{template "header.html" .}}

<h1>{{.user.FirstName}}</h1>
<h3>({{.user.Username}})</h3>

<!-- {{ .status }} -->

<hr>
{{if eq .status.Status "receivedRequest"}}
<h4>{{.user.FirstName}} sent you a friend request!</h4>
    <form action="/acceptRequest" method="post">
        <input type="hidden" name="username" value="{{.user.Username}}">
        <button type="submit">Accept it?</button>
    </form>
{{end}}

{{if eq .status.Status "notFriends"}}
    <form action="/addFriend" method="post">
        <input type="hidden" name="username" value="{{.user.Username}}">
        <button type="submit">Send a friend request</button>
    </form>
{{end}}

{{if eq .status.Status "sentRequest"}}
    <h4>You've sent a friend request to {{.user.FirstName}}! 📬</h4>
{{end}}

{{if eq .status.Status "friends"}}
    <h4>You and {{.user.FirstName}} are friends! 🎩</h4>
{{end}}

{{if eq .status.Status "sameUser"}}
    <h4>This is you!</h4>
{{end}}

{{template "footer.html" .}}
