{{set . "title" "Sign Up" }}
{{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

<h1>Sign Up</h1>
<form action="/signup" method="POST">
    {{with $field := field "username" .}}
        <div class="form-field">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" />
        </div>
    {{end}}
    
    {{with $field := field "firstName" .}}
        <div class="form-field">
            <p>This is the name that will display to your friends</p>
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName" />
        </div>
    {{end}}

    {{with $field := field "password" .}}
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
        </div>
    {{end}}

    <div class="form-field">
        <label for="verifyPassword">Password Confirmation:</label>
        <input type="password" name="verifyPassword" id="verifyPassword" />
    </div>

    <input type="submit" value="Sign Up" />
</form>

{{template "footer.html" .}}
