{{set . "title" "Your Groups"}}
{{template "header.html" .}}

<a href="/group/new">Create a new group</a>

{{if len .invitations}}
    <div>
        <h2>Pending Group Invitations</h2>
        <ul>
            {{range .invitations}}
                <li>{{.Name}}
                    <form action="/acceptInvitation" method="post">
                        <input type="hidden" name="groupID" value="{{.ID}}">
                        <button type="submit">Accept</button>
                    </form>
                </li>
            {{end}}
        </ul>
    </div>
{{end}}

{{if len .groups}}
    <div>
        <h2>Your groups</h2>
        <ul>
            {{range .groups}}
                <li><a href="/group/{{.ID}}">{{.Name}}</a></li>
            {{end}}
        </ul>
    </div>
{{end}}

{{template "footer.html" .}}