{{set . "title" "New Group"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<h1>Create a new group</h1>
<form action="/group/create" method="POST">
  {{with $field := field "name" .}}
    <div class="form-field">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{$field.Flash}}" />
    </div>
  {{end}}

    <input type="submit" value="Create Group">

</form>

{{template "footer.html" .}}
