{{set . "title" "View Group" }} {{template "header.html" .}}

<h1>{{.group.Name}}</h1>

{{if len .sentInvitations}}
    <div>
        <h3>Sent Invitiations</h3>
        <ul>
            {{range .sentInvitations}}
                <li><a href="/user/{{.Username}}">{{.Username}}</a></li>
                <form action="/unsendInvitation" method="post">
                    <input type="hidden" name="username" value="{{.Username}}">
                    <input type="hidden" name="id" value="{{.GroupID}}">
                    <button type="submit">Cancel</button>
                </form>
            {{end}}
        </ul>
    </div>
{{end}}


<div>
    <h3>Members</h3>
    <ul>
        {{range .members}}
            <li><a href="/user/{{.Username}}">{{.FirstName}}</a></li>
        {{end}}
    </ul>

    <h4>Add a member</h4>
    <form action="/group/{{.group.ID}}/sendInvitation" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </form>
</div>

{{$groupid := .group.ID}}
{{$currentUsername := .username}}

<div>
    {{if len .games}}
        <h3>{{.group.Name}} games</h3>
        <div style="display: flex; flex-wrap: wrap;">
            {{range .games}}
                <div class="game-card" id="{{.ID}}" style="border: 2px solid black; padding: 1em; margin: 2em; border-radius: 1em; width: 15%">
                    <div onclick="window.location.href = '/game/{{.ID}}?group={{$groupid}}'">
                        {{if .ImgURL}}
                            <img src="{{.ImgURL}}" alt="{{.Title}}">
                        {{end}}
                        <h2>{{.Title}}</h2>
                        {{if .Year}}
                            <h3>({{.Year}})</h3>
                        {{end}}
                        {{if .BggID}}
                            <h4>Board Game Geek ID: {{.BggID}}</h4>
                        {{end}}
                        ({{.Username}}'s game)
                    </div>
                    {{if eq $currentUsername .Username}}
                        <form
                            action="/group/{{$groupid}}/removeGame"
                            method="post" 
                            onsubmit="return confirm('Are you sure you want to remove this game from this group? All associated matches and scores will be lost!');"
                        >
                            <input type="hidden" name="gameID" value="{{.ID}}">
                            <input type="submit" value="Remove from group">
                        </form>
                    {{end}}
                </div>
            {{end}}
        </div>
    {{end}}
</div>



{{template "footer.html" .}}
