{{set . "title" "Sign In"}}
{{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

<div id="login">
    <h1>Sign In</h1>
    <form action="/signin" id="formLogin" method="POST">
        <div class="form-field">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" />
        </div>

        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
        </div>

        <input type="submit" value="Sign In">

    </form>

    <a href="/signup">Sign Up</a>
</div>

{{template "footer.html" .}}
